*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    background: black;
}

html{
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.nav {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
  
.info {
    background: red;
    height: 93vh;
    width: 100%;
}

.nav-left{
    height: 62px;
    width: 50%;
    display: flex;
}

.nav-right{
    height: 62px;
    width: 40%;
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

li{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.fas,.far{
    color: white;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

li svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

li:hover{
    background-color: rgb(59, 59, 59);
    border-radius: 15px;
    padding: 7px;
}

a{
    padding: 7px 6px 7px 6px;
    color: black;
    background: white;
    border-radius: 15px;
}

.logo{
    font-size: 24px;
    font-weight: 500;
}